@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-b1: #0E1A2B;
  --color-b2: #3A3F46;
  --color-b3: #C6A25D;

  --color-bgBlueTint: #EEF2F6;
  --color-footer: #0E1A2B;
  --color-lightGray: #F6F7F9;
  --color-sand: #F4F1EC;
  --color-navytint: #E9EDF3;

  --font-playfair: "Playfair Display";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
